@import './helpers/margin.scss';
@import './helpers/padding.scss';
@import './helpers/text.scss';
@import './master/index.scss';
@import './helpers/material-icons.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.link-hero {
  color: #9e2a07;
}

.title-latest {
  color: #e64a19;
  text-align: left;
  border-left: 3px solid #e64a19;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #e64a19;
    transition: 0.3s all ease;
  }

  &:hover::after {
    width: 50%;
  }
}

.card-content {
  transition: 0.4s all ease;
  transform: translateY(0,0);
  -ms-transform: translateY(0,0);
  -moz-transform: translateY(0,0);
  -webkit-transform: translateY(0,0);

  &:hover {
    transform: translateY(-20px);
    transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
}

.back-to-top-fade-enter-active, .back-to-top-fade-leave-active {
  transition: opacity .7s;
}
.back-to-top-fade-enter, .back-to-top-fade-leave-to{
  opacity: 0;
}

.btn-right-bottom {
  position: fixed;
  bottom: 5vh;
  right: 7vh;
  z-index: 1;
}

.avatar-rounded {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  object-fit: cover;
  transition: all ease-in-out 100ms;
  // transform: translateY(-50px);

  &:hover {
    filter: drop-shadow(2px 4px 8px hsla(0deg, 0%, 0%, 0.5));
  }
}

footer.footer {
  background-color: #F5F5F5;
  padding-bottom: 5vh;
  position: relative;
  bottom: 0;
}