// ALL AXIS
.margin {
    margin: 16px;
}

.margin-sm {
    margin: 8px;
}

.margin-xs {
    margin: 4px;
}

.margin-lg {
    margin: 24px;
}

.margin-xl {
    margin: 32px;
}

.margin-xxl {
    margin: 64px;
}

// margin HORIZONTAL
.margin-h {
    margin-left: 16px;
    margin-right: 16px;
}

.margin-h-sm {
    margin-left: 8px;
    margin-right: 8px;
}

.margin-h-xs {
    margin-left: 4px;
    margin-right: 4px;
}

.margin-h-lg {
    margin-left: 24px;
    margin-right: 24px;
}

.margin-h-xl {
    margin-left: 32px;
    margin-right: 32px;
}

.margin-h-xxl {
    margin-left: 64px;
    margin-right: 64px;
}

// margin vertical
.margin-v {
    margin-top: 16px;
    margin-bottom: 16px;
}

.margin-v-sm {
    margin-top: 8px;
    margin-bottom: 8px;
}

.margin-v-xs {
    margin-top: 4px;
    margin-bottom: 4px;
}

.margin-v-lg {
    margin-top: 24px;
    margin-bottom: 24px;
}

.margin-v-xl {
    margin-top: 32px;
    margin-bottom: 32px;
}

.margin-v-xxl {
    margin-top: 64px;
    margin-bottom: 64px;
}