// ALL AXIS
.padding {
    padding: 16px;
}

.padding-sm {
    padding: 8px;
}

.padding-xs {
    padding: 4px;
}

.padding-lg {
    padding: 24px;
}

.padding-xl {
    padding: 32px;
}

.padding-xxl {
    padding: 64px;
}

// PADDING HORIZONTAL
.padding-h {
    padding-left: 16px;
    padding-right: 16px;
}

.padding-h-sm {
    padding-left: 8px;
    padding-right: 8px;
}

.padding-h-xs {
    padding-left: 4px;
    padding-right: 4px;
}

.padding-h-lg {
    padding-left: 24px;
    padding-right: 24px;
}

.padding-h-xl {
    padding-left: 32px;
    padding-right: 32px;
}

.padding-h-xxl {
    padding-left: 64px;
    padding-right: 64px;
}

// PADDING HORIZONTAL
.padding-v {
    padding-top: 16px;
    padding-bottom: 16px;
}

.padding-v-sm {
    padding-top: 8px;
    padding-bottom: 8px;
}

.padding-v-xs {
    padding-top: 4px;
    padding-bottom: 4px;
}

.padding-v-lg {
    padding-top: 24px;
    padding-bottom: 24px;
}

.padding-v-xl {
    padding-top: 32px;
    padding-bottom: 32px;
}

.padding-v-xxl {
    padding-top: 64px;
    padding-bottom: 64px;
}